

  <div class="contact-icons">
    <a href="https://www.linkedin.com/in/erkamesen/"><i class="bx bxl-linkedin"></i></a>
    <a href="https://www.facebook.com/erkam.esen.7/"><i class="bx bxl-facebook"></i></a>
    <a href="https://www.behance.net/"><i class="bx bxl-github"></i></a>
    <a href="https://www.instagram.com/erkamesenn/"><i class="bx bxl-instagram"></i></a>
    <a href="https://twitter.com/erkam_esen"><i class="bx bxl-twitter"></i></a>
  </div>
  <div class="last-text">
    <p>© Copyright - Erkam Esen {{ year }}</p>
  </div>

  <!---scroll-top--->
  <a href="#" class="top"><i class="bx bx-up-arrow-alt"></i></a>
  <a href="#contact" class="bottom"><i class="bx bx-down-arrow-alt"></i></a>
  <script src="https://unpkg.com/scrollreveal"></script>

  <!---custom js link--->
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>