{% include "header.html" %}
  <!---home--->
  <Section class="home" id="home">
    <div class="home-text">
      <h3 id="merhaba">Hello;</h3>
      <h1>
        <span>I'm </span> <span class="erkam" id="ex">E</span><span class="ra">r</span><span
          class="erkam">k</span><span class="ra">a</span><span class="erkam">m</span><br />
        <span>Esen</span>
      </h1>
      <h3 id="alan">Web / Back-End Developer</h3>
    </div>
  </section>

  <!---about--->
  <section class="about" id="about">
    <div class="about-img">
      <img src="{{ url_for('static', filename='img/erkam.png')}}" alt="Profile Pictures" />
    </div>

    <div class="about-text">
      <h2>About me</h2>
      <h4>
        Hello, I m Erkam. <br>

      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam,
         urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam. <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed est eros, vulputate eget sodales nec, malesuada vel ante. Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet. Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac, placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam, urna non interdum lobortis,
          leo diam tincidunt lectus, non ultricies quam purus eget quam.

      </p>
      <hr style="color:#eb4a4a" ><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed est eros, vulputate eget sodales nec, malesuada vel ante.
         Quisque volutpat risus in dolor sollicitudin a commodo libero suscipit. Nunc ultrices risus ut arcu hendrerit aliquet.
          Integer sit amet eros eu augue porttitor dictum. Quisque vel ante est, at lacinia tortor. Curabitur lacus purus, malesuada sit amet dapibus ac,
           placerat id leo. Nullam vel ultrices augue. Donec posuere convallis purus, sit amet imperdiet leo laoreet at. Quisque aliquam,
         urna non interdum lobortis, leo diam tincidunt lectus, non ultricies quam purus eget quam.</p>
  </section>
  <!---services--->
  <section class="services" id="services">
    <div class="main-text">
      <h2>Services</h2>
      <h4>The bridge between ideas and software.</h4>
    </div>

    <div class="services-content">
      {% for service in services %}
          
     
      
      <div class="box">
        <img src="{{ service.get('img_url') }}" />
        <h3>{{ service.get('title') }}</h3>
        <p>
          {{ service.get('description') }}
        </p>
        {%  if is_active  %}
          <div class="row-icon">
              <a href="{{ url_for('service.delete_service', id=service.get('_id'))}}">Sil</a>
          </div>
          <div class="row-icon">
            <a href="{{ url_for('service.edit_service', id=service.get('_id'))}}">Edit</a>
        </div>
        {% endif %}
      </div>

      {% endfor %}

 
    </div>
  </section>

  <!---portfolio--->
  <section class="portfolio" id="portfolio">
    <div class="main-text">
      <h2>Projects</h2>
      <h4>Some of my projects</h4>
    </div>

    <div class="portfolio-content">
      {% for project in projects %}
      <div class="row">
        <a href="{{ url_for('project.show_project', id=project.get('_id')) }}">
          <img src="{{ project.get('img_url') }}"/>
        </a>
        <div class="main-row">
          <div class="row-text">
            <h6>{{ project.get("title")}}</h6>
          </div>
          {%  if is_active  %}
          <div class="row-icon">
              <a href="{{ url_for('project.delete_project', id=project.get('_id'))}}">Sil</a>
          </div>
          <div class="row-icon">
            <a href="{{ url_for('project.edit_project', id=project.get('_id'))}}">Edit</a>
        </div>
        {% endif %}
        </div>
        <h3>{{ project.get("subtitle")}}</h3>
      </div>
      {% endfor %}
    </div>
  </section>
 
  <!---contact--->
  <section class="contact" id="contact">
    <div class="contact-text">
      <h2>Contact</h2>
      <h4 style="color:#019bc6;">Strength comes from unity</h4>
      <p>
        You can contact me for cooperation or questions.
      </p>
      <div class="contact-list">
        <li>Turkey - Karabük/Safranbolu</li>
        <li>erkamesen789@gmail.com</li>
        <li>0123012301</li>
      </div>
    </div>

    <!-- FORM -->
    <div class="contact-form">
      <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.name }}
        {{ form.email }}
        {{ form.subject }}
        {{ form.text }}
        {{ form.submit(class_="send")}}
      </form>
    </div>
  </section>
{% include "footer.html" %}


        <!-- DURUMA GÖRE HTML FORM -->
        <!-- <input type="text" name="name" placeholder="İsminizi giriniz..." required />
        <input type="email" name="mail" placeholder="Mail adresinizi yazınız..." required />
        <input type="text" name="title" placeholder="Konu başlığını giriniz..." required /> 
        <textarea name="mesaj" cols="40" rows="10" placeholder="Mesajınızı buraya yazınız..." required></textarea>
        <input type="submit" value="Gönder" class="send" id="buton"/> -->


        <!-- "Back-End Developer" odaklı bir yazılım geliştiricisi olarak, veri yapıları ve algoritmalar konusunda bir
        temele sahibim ve programlama dili olarak Python'da uzamanlaşmak için çalışıyorum. Çeşitli teknolojiler hakkında
        sağlam bir anlayışa sahibim; Postgresql ve MongoDB gibi veritabanlarının yanı sıra Redis gibi bellek içi veri
        depolarına da hakimim. <br> Bir Web Developer olarak HTML, CSS, JavaScript ve Flask Framework hakkında bilgi sahibiyim. Her
        zaman becerilerimi ve bilgilerimi yeni zorluklara uygulamanın ve bir geliştirici olarak öğrenmeye ve büyümeye
        devam etmenin yollarını arıyorum. Öğrenme yeteneğim güçlüdür, yeni teknolojilere kolayca uyum sağlayabilirim.
        Kodlamayı ve özellikle öğrendiklerim ile üretmeyi çok seven bir insanım. -->